@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap';

* {
    text-decoration: none;
    list-style: none;
}

.theme--dark.v-application, html {
    background: $hark-black !important;
}

.v-toolbar__title a {
    color: $hark-primary;
}

.v-list-item {
    &:hover {
        a {
            color: $hark-primary;
        }
    }
}

.v-application .primary {
    border-color: $hark-primary !important;
    color: $hark-dark-blue !important; 
}

.hark-center {
    min-height: calc(100vh - 64px);
    padding: 0 !important;
}

.hark__content-body {
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: pre-wrap;      /* Modern browsers */
}