// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// brand color
$hark-primary: #00FF78;
// functional color
$hark-success: #00FF78;
$hark-warning: #FFB445;
$hark-danger: #FF5050;
$hark-info: #3175ff;
// background
$hark-white: #FFF;
$hark-yellow: #FFFFC2;
$hark-black: #0e0e0e;
$hark-dark-grey: #1E1E1E;
$hark-grey: #BDBDBD;
$hark-dark-blue: #000D1F;

$body-font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;


